/** Stile per bottone di ritorno **/

button.return {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #f4f4f9;
        background-color: #1c1c1c;
        border-radius: 5px;
}

.dark-theme button.return {
    background-color: #f4f4f9;
    color: #1c1c1c;
}
